* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#root {
    padding: 0;
    margin: 0;
    max-width: 100vw;
}

.link {
    text-decoration: none;
    color: inherit;
}

.active {
    display: flex !important;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.icon {
    font-size: 16px !important;
}
